
/* Footer class */
.footer {
  background: #333;
  padding: 5px 0px;
  height: auto;
  width: 100%;
}

/* Copyright Cyklojansky.cz */
.footer-top {
  font-size: 16px;
}
.footer-top p {
  margin: 20px 0px;
  text-align: center;
  vertical-align: sub;
  color: #666;
  font-weight: 600;
}

/* Bold Copyright */
.footer-top p b {
  font-weight: 900;
}

/* Mady by C2Coder */
.footer-bottom {
  font-size: 15px;
}
.footer-bottom p {
  margin: 20px 0px;
  font-size: 12px;
  text-align: center;
  vertical-align: sub;
  color: #666;

  font-weight: 500;
}

.footer-bottom p b {
  color: #777;
}

.footer-bottom p b:hover {
  color: #999;
}

/* Github logo */
.footer-bottom p i {
  color: #777;
  font-size: 20px;
  vertical-align: sub;
}
.footer-bottom p i:hover {
  color: #999;
}

/* Link without underline */
.footer-bottom p a:link {
  text-decoration: none;
}
.footer-bottom p a:visited {
  text-decoration: none;
}
.footer-bottom p a:hover {
  text-decoration: none;
}
.footer-bottom p a:active {
  text-decoration: none;
}
