.footer-section-bottom {
    background: #333333;
    padding: 10px 0px;
  }
  
  .footer-bottom-left {
    font-size: 15px;
  }
  
  .footer-bottom-left p {
    margin: 10px;
    text-align: center;
    vertical-align: sub;
    color: #777777;
    font-weight: 500;
  }
  .footer-bottom-left p b {
    font-weight: 900;
  }
  
  .footer-bottom-right {
    font-size: 17px;
  }
  
  .footer-bottom-right p {
    margin: 10px;
    font-size: 15px;
  
    text-align: center;
    vertical-align: sub;
    color: #777777;
  
    font-weight: 500;
  }
  
  /* Mady by C2Coder */
  .footer-bottom-right p b {
    color: #888888;
  }
  
  .footer-bottom-right p b:hover {
    color: #aaaaaa;
  }
  
  /* Github logo */
  .footer-bottom-right p i {
    color: #888888;
    font-size: 24px;
    vertical-align: sub;
  }
  .footer-bottom-right p i:hover {
    color: #aaaaaa;
  }
  
  .footer-bottom-right p a:link {
    text-decoration: none;
  }
  .footer-bottom-right p a:visited {
    text-decoration: none;
  }
  .footer-bottom-right p a:hover {
    text-decoration: none;
  }
  .footer-bottom-right p a:active {
    text-decoration: none;
  }
  