* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Falešný obrázek, jen pro ukázku */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

/* Logo/název */
.title {
  position: relative;
  padding: 70px;
  text-align: center;
  background: #505050;
  color: #fff;
}

/* Hlavní titul */
.title h1 {
  font-size: 60px;
}

.title img {
  position: absolute;
  top: 10px;
  left: 10px;
}



/* Reaktivní layout - když šířka obrazovky je méně než 700px, panely se poskládají nad sebe */
@media screen and (max-width: 1250px) {
    .side {
        flex-direction: column;
    }
}

/* Column container */
.side {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

/* Postraní panel vlevo */
.informations {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.informations span,
.informations img {
  display: inline-block;
  vertical-align: middle;
}

.informations img {
  margin-left: 5px;
}

/* Odkazy be podtržení */

span a:hover {
  text-decoration: none;
}
span a:link {
  text-decoration: none;
}
span a:visited {
  text-decoration: none;
}
span a:active {
  text-decoration: none;
}


/* Titul kontaktů */
.informations h1 {
  color: #222;
  font-size: 28px;
  padding-left: 5px;
}

/* Kontakt */
.informations h3 , .informations h4{
  color: #222;
  font-weight: bold;
  padding: 0px 5px;
  font-size: 20px;
}

span h4:hover {
  color: #444;
}


/* Hlavní panel */
.main {
  
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main h2 {
  font-size: 24px;
}
.main h5 {
  font-size: 14px;
}
