* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Falešný obrázek, jen pro ukázku */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Logo/název */
.title {
    padding: 75px;
    text-align: center;
    background: #505050;
    color: #fff;
}

/* Hlavní titul */
.title h1 {
    font-size: 60px;
}

/* Hlavní podtitul */
.title p {
    font-size: 30px;
}

/* Reaktivní layout - když šířka obrazovky je méně než 700px, panely se poskládají nad sebe */
@media screen and (max-width: 950px) {
    .side {
        flex-direction: column;
    }
}

/* Column container */
.side {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}


/* Postraní panel vlevo */
.contacts {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.contacts span,
.contacts img {
    display: inline-block;
    vertical-align: middle;

}

.contacts a:link {
    text-decoration: none;
}

.contacts a:visited {
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: none;
}

.contacts a:active {
    text-decoration: none;
}

.contacts h1 {
    color: #333;
}

.contacts p {
    color: #222;
    font-weight: bold;
    padding: 0px 5px;
}


/* Hlavní panel */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}



